/* default */
:root {
    --black: #2D3033;
    --accent: #F38281;
    --blue: #95E1D3;
    --grey: #C6CBCD;
    --content-width: 1170px;
    --mobile-padding: 15px;
    --gutter: 15px;
}

@media (max-width: 1200px) {
    :root {
        --gutter: 10px;
    }
}

* {
    box-sizing: border-box;
}

html {
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.4;
    color: var(--black);
}

body {
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: 0;
}

button {
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

/* -------------------------------------*/
/* --------------component--------------*/

.container {
    margin-left: var(--mobile-padding);
    margin-right: var(--mobile-padding);
    max-width: calc(var(--content-width) + var(--mobile-padding) * 2);
    margin: 0 auto;
}

/* grid */
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 calc(var(--gutter) * -1);
}

.col-1 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 1 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-1 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-1 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 1 - var(--gutter) * 2);
    }
}

.col-2 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 2 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-2 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-2 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 2 - var(--gutter) * 2);
    }
}

.col-3 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 3 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-3 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-3 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 3 - var(--gutter) * 2);
    }
}

.col-4 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 4 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-4 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-4 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 4 - var(--gutter) * 2);
    }
}

.col-5 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 5 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-5 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-5 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 5 - var(--gutter) * 2);
    }
}

.col-6 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 6 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-6 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-6 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 6 - var(--gutter) * 2);
    }
}

.col-7 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 7 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-7 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-7 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 7 - var(--gutter) * 2);
    }
}

.col-8 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 8 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-8 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-8 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 8 - var(--gutter) * 2);
    }
}

.col-9 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 9 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-9 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-9 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 9 - var(--gutter) * 2);
    }
}

.col-10 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 10 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-10 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-10 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 10 - var(--gutter) * 2);
    }
}

.col-11 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 11 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-11 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-11 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 11 - var(--gutter) * 2);
    }
}

.col-12 {
    margin: 0 var(--gutter);
    width: calc(100% / 12 * 12 - var(--gutter) * 2);
}

/* lg */
@media (max-width: 1200px) {
    .col-lg-12 {
        margin: 0 var(--gutter)x;
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* md */
@media (max-width: 992px) {
    .col-md-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* sm */
@media (max-width: 768px) {
    .col-sm-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* xs */
@media (max-width: 560px) {
    .col-xs-12 {
        margin: 0 var(--gutter);
        width: calc(100% / 12 * 12 - var(--gutter) * 2);
    }
}

/* section-head */
.section-head {
    text-align: center;
    color: var(--black);
}



@media screen and (max-width: 1200px) {
    .section-head:after {
        width: 148px;
    }
}

@media screen and (max-width: 560px) {
    .section-head:after {
        width: 134px;
    }
}

.section-head__subtitle {
    font-family: "Kaushan Script";
    font-size: 30px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: 30px;
    color: var(--black);
}

@media screen and (max-width: 1200px) {
    .section-head__subtitle {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.section-head__title {
    font-size: 36px;
    font-weight: 900;
    line-height: 1.2;
    color: var(--black);
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .section-head__title {
        font-size: 24px;
        margin-bottom: 30px;
    }
}

.section-head__title:after {
    content: "";
    display: block;
    width: 170px;
    height: 4px;
    background: var(--accent);
    margin: 30px auto 30px;
}

.section-head__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
}
/* images-gallery */
.images-gallery {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2px;
    row-gap: 2px;
}

.images-gallery__item {
    --aspect-ratio: calc(100% / 3 - 2px);
    display: inline-block;
    width: var(--aspect-ratio);
    position: relative;
    padding-bottom: var(--aspect-ratio);
    overflow: hidden;
}

.images-gallery__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    max-width: initial;
    /* object-fit: cover;
    width: 100%;
    height: 100%; */
}

/* news-card */
.news-card {
    display: flex;
}

.news-card__img {
    

}

.news-card__img-link {
    width: 35%;
    flex-shrink: 0; 
}

.news-card__content {
    padding-left: 30px;
}

.news-card__title {
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.news-card__title a {
    color: inherit;
    text-decoration: none;
}

.news-card__date {
    font-weight: 400;
    font-size: 13px;
}
/* prime-btn */
.prime-btn {
    display: inline-block;
    background-color: var(--blue);
    color:#fff;
    border: none;    
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}

/* .form-input */
.form-input {
    padding: 10px 15px;
    border: 1px solid var(--grey);
    background-color: #fff;
    font-size: 18px;
    width: 100%;
}

.form-input::placeholder {
    color: var(--grey);
}
/* -------------------------------------*/
/* ---------------header----------------*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 3;
}

.header_has-bg {
    background: #f4bf87;
}

.header__inner {
    display: flex;
}

.header__logo-link {}

.header__nav {
    margin-left: auto;
}

.header__menu {
    display: flex;
    list-style: none;
}

.header__menu-item {
    position: relative;
    margin-right: 40px;
}

.header__menu-item_active .header__menu-link {
    color: #f4bf87;
    position: relative;
}

.header__menu-item_active .header__menu-item::after {
    content: "";
    position: absolute;
    width: 150%;
    height: 1px;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    color: currentColor;
}

.header__submenu {
    display: none;
    position: absolute;
    top: 100%;
    background: #f4bf87;
    padding: 20px;
}

.header__submenu-item {
    padding: 10px;
}

.header__submenu-link {
    text-decoration: none;
}

.header__menu-link {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.header__menu-link:hover {
    color: #f4bf87;
}
/* -------------------------------------*/
/* ----------------promo----------------*/
.promo {
    padding-top: 177px;
    padding-bottom: 50px;
    min-height: 100vh;
    background-image: linear-gradient(360deg,
            rgba(237, 215, 137, 0.9) 0%,
            rgba(233, 130, 131, 0.9) 100%),
        url(../imgage/jpg/promobg.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 1200px) {
    .promo {
        padding-top: 50px;
    }
}

@media screen and (max-width: 768px) {
    .promo {
        padding-top: 20px;
    }
}

.promo__title {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 144px;
    line-height: 1.2;
    margin-bottom: 116px;
    text-transform: uppercase;
}

.promo__subtitle {
    font-family: "Kaushan Script", cursive;
    font-size: 64px;
    font-weight: 400;
}

.promo__link {
    display: inline-block;
    max-width: 370px;
    width: 100%;
    padding: 25px 60px;
    color: inherit;
    border: 1px solid #fff;
    text-decoration: none;
    font-weight: 700;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s;
}

.promo__link:hover {
    background-color: #fff;
    color: #f4bf87;
}
/* -------------------------------------*/
/* ---------------about-us--------------*/
.about-us {
    padding-top: 67px;
    padding-bottom: 108px;
}

.about-us__head {
    margin-bottom: 88px;
}

.about-us__card {
    background-color: #95E1D3;
    position: relative;
}

.about-us__img {    
    position: relative;
    padding-bottom: 91%;
    overflow: hidden;
}

.about-us__img-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: initial;
}

.about-us__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg,
            rgba(237, 215, 137, 0.9) 0%,
            rgba(233, 130, 131, 0.9) 100%);
    transform: translate(-16px, -16px);
    opacity: 0;
}

.about-us__overlay:hover {
    opacity: 1;
    transition: 0.3s;
}

.about-us__overlay-pic {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about-us__overlay-text {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    padding-top: 200px;
}
/* -------------------------------------*/
/* ---------------service---------------*/
.service {
    padding: 0 var(--mobile-padding);
    background-color: #95E1D3;
}

.service__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.service__card {
    width: calc(100% / 5);
    flex-shrink: 0;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    padding: 70px 5px;
    text-align: center;
}

@media screen and (max-width: 1200px) {
    .service__card {
        padding: 50px 5px;
    }
}

@media screen and (max-width: 768px) {
    .service__card {
        width: calc(100% / 2);
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #fff;
        padding: 40px 5px;
    }
}

@media screen and (max-width: 560px) {
    .service__card {
        padding: 30px 5px;
    }
}

.service__card-number {
    font-weight: 700;
    font-size: 64px;
    color: #fff;
    margin-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .service__card-number {
        font-size: 48px;
        margin-bottom: 15px;
    }
}

.service__card-text {
    font-weight: 700;
    font-size: 24px;
    color: #fff;
}

@media screen and (max-width: 1200px) {
    .service__card-text {
        font-weight: 500;
        font-size: 18px;
    }
}
/* -------------------------------------*/
/* ---------------amazing---------------*/
.amazing {
    padding-top: 42px;
    padding-bottom: 20px;
}

@media screen and (max-width: 1200px) {
    .amazing {
        padding-top: 28px;
        padding-bottom: 28px;
    }
}

.amazing__head {
    margin-bottom: 10px;
}

@media screen and (max-width: 1200px) {
    .amazing__head {
        margin-bottom: 40px;
    }
}

.amazing__card {
    display: flex;
    margin-bottom: 70px;
    margin-top: 70px;
}

@media screen and (max-width: 1200px) {
    .amazing__card {
        margin-bottom: 30px;
        margin-top: 30px;
    }
}

@media screen and (max-width: 560px) {
    .amazing__card {
        margin-bottom: 16px;
        margin-top: 16px;
    }
}

.amazing__card-img {
    width: 70px;
    flex-shrink: 0;
    align-self: flex-start;
}

@media screen and (max-width: 1200px) {
    .amazing__card-img {
        width: 60px;
    }
}

.amazing__info {
    padding-left: 30px;
}

@media screen and (max-width: 1200px) {
    .amazing__info {
        padding-left: 25px;
    }
}

.amazing__card-name {
    font-weight: 700;
    font-size: 24px;
    align-items: center;
    color: #2d3033;
    padding: 10px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .amazing__card-name {
        font-size: 18px;
    }
}

.amazing__card-desc {
    font-weight: 400;
    font-size: 18px;
    color: #2d3033;
    padding: 5px 0;
}

@media screen and (max-width: 1200px) {
    .amazing__card-desc {
        font-size: 18px;
    }
}
/* -------------------------------------*/
/* ---------------design----------------*/
.design {
    background-image: linear-gradient(360deg,
        rgba(255, 255, 255, 0.8) 0%,
        rgba(255, 255, 255, 0.8) 100%),
        url(../image/design/design.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    padding-top: 42px;
    padding-bottom: 57px;
}

.design__head {
    margin-bottom: 60px;
}

.design__features {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;   
}

.design__features-body {   
    grid-column: 2 / span 10;
    grid-row: 1;  
    z-index: 2; 
}

.design__features-tablet {
    grid-column: 4 / span 6;
    grid-row: 1; 
    z-index: 1; 
}

.design__features-phohe {
    grid-column: 9 / span 10;
    grid-row: 1; 
    z-index: 3;     
}
/* -------------------------------------*/
/* ----------------team-----------------*/
.team {
   padding-top: 42px;
   padding-bottom: 84px;
}

.team__head {
    margin-bottom: 88px;
}

.team__row {
}

.team__card {
   
}

.team__thumb {
    position: relative;
    margin-bottom: 28px;
}

.team__img {
    position: relative;
    padding-bottom: 135%;
    overflow: hidden;
}

.team__img-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: initial;
}

.team__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg,
            rgba(237, 215, 137, 0.9) 0%,
            rgba(233, 130, 131, 0.9) 100%);
    transform: translate(-16px, -16px);
    opacity: 0;   
    display: flex;
    justify-content: center; 
}

.team__overlay:hover {
    opacity: 1;
    transition: 0.3s;
}

.team__overlay-list {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;   
}

.team__overlay-item {
}

.team__overlay-link {
}

.team__overlay-icon {
}

.team__info {
    text-align: center;
}

.team__info-name {   
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 28px;
}

.team__info-position {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-transform: uppercase;    
}
/* -------------------------------------*/
/* ---------------partners--------------*/
.partners {
    background: #F8F8F8;
    
}

.partners__list {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;  
    padding: 40px;
}
.partners__item {
}
.partners__link {
}
.partners__icon {
}/* ------------------------------------*/
/* -----------------work----------------*/
.work {
    padding: 84px 0;
    display: flex;
	align-items: center;
	justify-content: center;
    flex-direction: column;    
}

.work__head {
    margin-bottom: 72px;
}

.work__row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);   
}

.work__item {
    position: relative;    
}

.work__item:first-child {    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.work__item:nth-child(2) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.work__item:nth-child(3) {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 3;
}

.work__item:nth-child(4) {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.work__item:nth-child(5) {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}

.work__item:nth-child(6) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.work__item:last-child {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
}

.work__img {    
    object-fit: cover;
    width: 100%;
    height: 100%; 
    
}

.work__img-main { 
    min-height: 100%;
    min-width: 100%;
    max-width: initial;
}

.work__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(360deg,
            rgba(237, 215, 137, 0.9) 0%,
            rgba(233, 130, 131, 0.9) 100%);    
    opacity: 0;
}

.work__overlay:hover {
    opacity: 1;
    transition: 0.3s;
}

.work__overlay-pic {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-30%, -50%);
}

.work__overlay-title {
    position: absolute;
    top: 57%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #fff;
    text-align: center;   
}

.work__overlay-text {
    position: absolute;
    top: 67%;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
    text-align: center;
}
/* -------------------------------------*/
/* ---------------reviews---------------*/
.reviews {
    background-image: linear-gradient(360deg,
        rgba(255, 255, 255, 0.9) 0%,
        rgba(255, 255, 255, 0.9) 100%),
        url(../image/reviews/reviews.jpg);
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center center;
    padding-top: 42px;
}

@media screen and (max-width: 1200px) {
    .reviews {
        padding-top: 28px;
    }
}

.reviews__head {
    margin-bottom: 42px;
}

@media screen and (max-width: 1200px) {
    .reviews__head {
        margin-bottom: 28px;
    }
}

.reviews__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.reviews__card {
    display: flex;
    justify-content: center;
    align-items: center; 
    margin-bottom: 42px;
    margin-top: 42px;        
}

@media screen and (max-width: 560px) {
    .reviews__card {        
        flex-direction: column;        
    }
}

@media screen and (max-width: 1200px) {
    .reviews__card {        
        margin-bottom: 28px;
        margin-top: 28px;        
    }
}

.reviews__card-icon {
    flex-shrink: 0;
    align-self: flex-start;
    width: 130px;
    height: 130px;    
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (max-width: 1200px) {
    .reviews__card-icon {
        width: 88px;
        height: 88px;            
    }
}

@media screen and (max-width: 560px) {
    .reviews__card-icon {   
        align-self: center;     
        margin-bottom: 20px;
    }
}

.reviews__card-info {
    margin-left: 50px;
}

@media screen and (max-width: 560px) {
    .reviews__card-info {        
        text-align: center;    
    }
}

.reviews__card-name {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    padding: 14px 0;
}

@media screen and (max-width: 1200px) {
    .reviews__card-name {        
        font-size: 18px;
        padding: 9px 0;
    }
}

.reviews__card-position {
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .reviews__card-position {
        font-size: 14px;        
    }
}

.reviews__card-position::after {
    content: "";
    display: block;
    width: 70px;
    height: 2px;
    background-color: var(--accent);
    margin: 32px 0;
}

@media screen and (max-width: 1200px) {
    .reviews__card-position::after {        
        width: 42px;
        margin: 21px 0;
    }
}

@media screen and (max-width: 560px) {
    .reviews__card-position::after {        
        width: 134px; 
        margin: 21px auto;
    }
}

.reviews__card-feedback {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;    
}

@media screen and (max-width: 1200px) {
    .reviews__card-feedback {
        font-size: 14px;   
        line-height: 1.1;     
    }
}
/* -------------------------------------*/
/* ----------------blog-----------------*/
.blog {
    padding: 84px 0;
}

@media screen and (max-width: 1200px) {
    .blog {
        padding: 58px 0;
    }
}

@media screen and (max-width: 560x) {
    .blog {
        padding: 30px 0;
    }
}

.blog__head {
    margin-bottom: 42px;
}

.blog__card {}

@media screen and (max-width: 768x) {
    .blog__card {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 560x) {
    .blog__card {
        margin-bottom: 30px;
    }
}

.blog__card-head {
    position: relative;
    margin-bottom: 30px;
}

.blog__img-wrap {
    position: relative;
    padding-bottom: 70%;
    overflow: hidden;
}

.blog__img {
    /* first */
    /* height: 253px;
    object-position: center;
    width: 100%;
    object-fit: cover; */

    /* second */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 100%;
    min-width: 100%;
    max-width: initial;
}

.blog__news-date {
    position: absolute;
    bottom: 25px;
    left: -14px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 80px;
    height: 80px;
    background: var(--blue);
    color: #fff;
    font-family: "Raleway";
    font-size: 18px;
    text-transform: uppercase;
}

@media screen and (max-width: 1200px) {
    .blog__news-date {
        width: 68px;
        height: 68px;
        font-size: 14px;
    }
}

.blog__news-date span {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 5px;
}

@media screen and (max-width: 1200px) {
    .blog__news-date span {
        font-size: 24px;
    }
}

.blog__card-title {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    .blog__card-title {
        font-size: 18px;
    }
}

.blog__card-title a {
    color: inherit;
    text-decoration: none;
}

.blog__card-desc {
    font-family: 'Raleway';
    font-weight: 400;
    font-size: 18px;
}

@media screen and (max-width: 1200px) {
    .blog__card-desc {
        font-size: 14px;
    }
}

.blog__info-panel {
    display: flex;
    flex-wrap: wrap;
    margin-top: 22px;
}

.blog__info-icon {
    margin-right: 16px;
    width: 32px;
    flex-shrink: 0;
}

.blog__info-block {
    display: flex;
    align-items: center;
    margin-right: 40px;
    font-size: 13px;
}

@media screen and (max-width: 1200px) {
    .blog__info-block {
        font-size: 12px;
    }
}

.blog__info-block:last-child {
    margin-right: 0;
}
/* -------------------------------------*/
/* --------------Latest-blog------------*/
.latest-blog {
    background-image: linear-gradient(
      360deg,
      rgba(255, 255, 255, 0.9) 0%,
      rgba(255, 255, 255, 0.9)
    ),
    url(../image/latest-blog/lt-blog.png);
  background-size: cover, cover;
  background-repeat: no-repeat, no-repeat;
  background-position: center center;
  text-align: center;
}

.latest-blog__head {
  padding: 42px 0; 
}

.latest-blog__title {
  color: var(--accent);
}

/* .latest-blog__icon {
  margin: 0 auto;
} */
/* -------------------------------------*/
/* ----------------Footer---------------*/
.footer {
    padding-top: 80px;
}

.footer__row {}

.footer__col {
    padding-bottom: 42px;

}

.footer__media-col {
    display: flex;
    flex-direction: column;
}

.footer__logo-link {}

.footer__logo {}

.footer__desc {
    font-size: 18px;
    color: var(--grey);
    margin-top: 40px;
    margin-bottom: 30px;
}

.footer__media {}

.footer__followers-count {
    margin-bottom: 30px;
}

.footer__followers-count .num {
    font-size: 36px;
    font-weight: 700;
    font-style: normal;
}

.footer__followers-count .letter {
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.footer__followers-count .cta-txt {
    font-size: 18px;
    font-weight: 500;
    font-style: italic;
    text-transform: uppercase;
}

.footer__socials {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px; 
}

.footer__media-cta {
    padding-right: 10px;
    font-size: 13px;
    font-style: italic;
}

.footer__social-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.footer__social-item {
    margin-right: 10px;
}

.footer__social-item:last-child {
    margin-right: 0;
}

.footer__social-link {}

.footer__social-icon {
    width: 24px;
}

.footer__subscribe {
    display: flex;
    margin-top: auto;
}

.footer__send-form {
    text-transform: uppercase;
    padding: 16px 16px;    
}

.footer__input {
    flex-grow: 1;
    text-align: center;    
}

.footer__col-title {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;

}

.footer__news {}

.footer__news-card {
    margin-bottom: 20px;
}

.footer__news-card:last-child {
    margin-bottom: 0;
}

.footer__see-more {
    display: inline-block;
    font-size: 13px;
    text-decoration: underline;
    text-transform: uppercase;
    color: var(--black);
    margin-top: 40px;

}

.footer__copyright {
    font-size: 13px;
    font-weight: 700;
    padding: 15px 0;
    text-align: center;
    border-top: 1px solid var(--grey);
}

/* -------------------------------------*/